[data-simplebar]{position:relative;flex-direction:column;flex-wrap:wrap;justify-content:flex-start;align-content:flex-start;align-items:flex-start}.simplebar-wrapper{overflow:hidden;width:inherit;height:inherit;max-width:inherit;max-height:inherit}.simplebar-mask{direction:inherit;position:absolute;overflow:hidden;padding:0;margin:0;left:0;top:0;bottom:0;right:0;width:auto!important;height:auto!important;z-index:0}.simplebar-offset{direction:inherit!important;box-sizing:inherit!important;resize:none!important;position:absolute;top:0;left:0;bottom:0;right:0;padding:0;margin:0;-webkit-overflow-scrolling:touch}.simplebar-content-wrapper{direction:inherit;box-sizing:border-box!important;position:relative;display:block;height:100%;width:auto;max-width:100%;max-height:100%;scrollbar-width:none;-ms-overflow-style:none}.simplebar-content-wrapper::-webkit-scrollbar,.simplebar-hide-scrollbar::-webkit-scrollbar{width:0;height:0}.simplebar-content:after,.simplebar-content:before{content:' ';display:table}.simplebar-placeholder{max-height:100%;max-width:100%;width:100%;pointer-events:none}.simplebar-height-auto-observer-wrapper{box-sizing:inherit!important;height:100%;width:100%;max-width:1px;position:relative;float:left;max-height:1px;overflow:hidden;z-index:-1;padding:0;margin:0;pointer-events:none;flex-grow:inherit;flex-shrink:0;flex-basis:0}.simplebar-height-auto-observer{box-sizing:inherit;display:block;opacity:0;position:absolute;top:0;left:0;height:1000%;width:1000%;min-height:1px;min-width:1px;overflow:hidden;pointer-events:none;z-index:-1}.simplebar-track{z-index:1;position:absolute;right:0;bottom:0;pointer-events:none;overflow:hidden}[data-simplebar].simplebar-dragging .simplebar-content{pointer-events:none;-moz-user-select:none;user-select:none;-webkit-user-select:none}[data-simplebar].simplebar-dragging .simplebar-track{pointer-events:all}.simplebar-scrollbar{position:absolute;left:0;right:0;min-height:10px}.simplebar-scrollbar:before{position:absolute;content:'';background:#000;border-radius:7px;left:2px;right:2px;opacity:0;transition:opacity .2s linear}.simplebar-scrollbar.simplebar-visible:before{opacity:.5;transition:opacity 0s linear}.simplebar-track.simplebar-vertical{top:0;width:11px}.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{top:2px;bottom:2px}.simplebar-track.simplebar-horizontal{left:0;height:11px}.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before{height:100%;left:2px;right:2px}.simplebar-track.simplebar-horizontal .simplebar-scrollbar{right:auto;left:0;top:2px;height:7px;min-height:0;min-width:10px;width:auto}[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical{right:auto;left:0}.hs-dummy-scrollbar-size{direction:rtl;position:fixed;opacity:0;visibility:hidden;height:500px;width:500px;overflow-y:hidden;overflow-x:scroll}.simplebar-hide-scrollbar{position:fixed;left:0;visibility:hidden;overflow-y:scroll;scrollbar-width:none;-ms-overflow-style:none}

/*
! tailwindcss v3.1.4 | MIT License | https://tailwindcss.com
*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #fafafa; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #f3f2f1; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #f3f2f1; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
body{
  font-family: Butler;
  font-weight: 400;
}
h1{
  font-size: 3.75rem;
  font-size: [object Object];
  font-weight: 500;
}
h2{
  font-size: 2.25rem;
  font-size: [object Object];
  font-weight: 400;
}
h3{
  font-size: 1.875rem;
  font-size: [object Object];
  font-weight: 400;
}
h4{
  font-size: 1.5rem;
  font-size: [object Object];
  font-weight: 400;
}
h5{
  font-size: 1.25rem;
  font-size: [object Object];
  font-weight: 400;
}
h6{
  font-size: 1.125rem;
  font-size: [object Object];
  font-weight: 400;
}
*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
::-webkit-backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
.container{
  width: 100%;
}
@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}
@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}
@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}
@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}
@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}
/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.bottom-0{
  bottom: 0px;
}
.left-0{
  left: 0px;
}
.right-0{
  right: 0px;
}
.top-0{
  top: 0px;
}
.top-1\/2{
  top: 50%;
}
.left-1\/2{
  left: 50%;
}
.z-1{
  z-index: 1;
}
.col-span-4{
  grid-column: span 4 / span 4;
}
.col-span-8{
  grid-column: span 8 / span 8;
}
.col-span-5{
  grid-column: span 5 / span 5;
}
.col-span-3{
  grid-column: span 3 / span 3;
}
.col-span-1{
  grid-column: span 1 / span 1;
}
.col-span-7{
  grid-column: span 7 / span 7;
}
.m-0{
  margin: 0px;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mx-3{
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.-my-6{
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}
.-mx-5{
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.mt-14{
  margin-top: 3.5rem;
}
.-mt-12{
  margin-top: -3rem;
}
.mt-4{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 0.5rem;
}
.-mt-1{
  margin-top: -0.25rem;
}
.mt-3{
  margin-top: 0.75rem;
}
.mt-1{
  margin-top: 0.25rem;
}
.mb-32{
  margin-bottom: 8rem;
}
.mb-52{
  margin-bottom: 13rem;
}
.ml-2{
  margin-left: 0.5rem;
}
.mt-5{
  margin-top: 1.25rem;
}
.ml-3{
  margin-left: 0.75rem;
}
.mt-10{
  margin-top: 2.5rem;
}
.-mt-11{
  margin-top: -2.75rem;
}
.mt-0{
  margin-top: 0px;
}
.mt-16{
  margin-top: 4rem;
}
.mt-6{
  margin-top: 1.5rem;
}
.mt-11{
  margin-top: 2.75rem;
}
.mt-12{
  margin-top: 3rem;
}
.mt-8{
  margin-top: 2rem;
}
.ml-1{
  margin-left: 0.25rem;
}
.ml-5{
  margin-left: 1.25rem;
}
.mb-3{
  margin-bottom: 0.75rem;
}
.mb-0{
  margin-bottom: 0px;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.flex{
  display: flex;
}
.inline-flex{
  display: inline-flex;
}
.grid{
  display: grid;
}
.hidden{
  display: none;
}
.h-screen{
  height: 100vh;
}
.h-10{
  height: 2.5rem;
}
.h-full{
  height: 100%;
}
.h-80{
  height: 20rem;
}
.h-4{
  height: 1rem;
}
.h-40{
  height: 10rem;
}
.h-5{
  height: 1.25rem;
}
.h-56{
  height: 14rem;
}
.h-18{
  height: 4.5rem;
}
.h-28{
  height: 7rem;
}
.h-44{
  height: 11rem;
}
.h-14{
  height: 3.5rem;
}
.min-h-mobile{
  min-height: calc(100vh - 6rem);
}
.min-h-screen{
  min-height: 100vh;
}
.w-full{
  width: 100%;
}
.w-10{
  width: 2.5rem;
}
.w-3{
  width: 0.75rem;
}
.w-1\/2{
  width: 50%;
}
.w-5{
  width: 1.25rem;
}
.w-4{
  width: 1rem;
}
.w-2\/3{
  width: 66.666667%;
}
.w-6{
  width: 1.5rem;
}
.flex-shrink-0{
  flex-shrink: 0;
}
.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.resize{
  resize: both;
}
.grid-cols-12{
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-cols-8{
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-cols-11{
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-7{
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-col{
  flex-direction: column;
}
.items-start{
  align-items: flex-start;
}
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.gap-4{
  gap: 1rem;
}
.gap-3{
  gap: 0.75rem;
}
.gap-6{
  gap: 1.5rem;
}
.gap-2{
  gap: 0.5rem;
}
.gap-y-3{
  row-gap: 0.75rem;
}
.overflow-auto{
  overflow: auto;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-y-hidden{
  overflow-y: hidden;
}
.rounded-full{
  border-radius: 9999px;
}
.rounded{
  border-radius: 0.25rem;
}
.rounded-md{
  border-radius: 0.375rem;
}
.rounded-lg{
  border-radius: 0.5rem;
}
.border{
  border-width: 1px;
}
.border-l{
  border-left-width: 1px;
}
.border-t{
  border-top-width: 1px;
}
.border-dotted{
  border-style: dotted;
}
.border-amber-500{
  --tw-border-opacity: 1;
  border-color: rgb(116 86 51 / var(--tw-border-opacity));
}
.border-amber-300{
  --tw-border-opacity: 1;
  border-color: rgb(183 163 139 / var(--tw-border-opacity));
}
.bg-gray-500{
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
.bg-yellow-400{
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity));
}
.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-green-300{
  --tw-bg-opacity: 1;
  background-color: rgb(83 114 101 / var(--tw-bg-opacity));
}
.bg-amber-100{
  --tw-bg-opacity: 1;
  background-color: rgb(237 236 236 / var(--tw-bg-opacity));
}
.bg-gray-400{
  --tw-bg-opacity: 1;
  background-color: rgb(243 242 241 / var(--tw-bg-opacity));
}
.bg-contain{
  background-size: contain;
}
.bg-cover{
  background-size: cover;
}
.bg-auto{
  background-size: auto;
}
.bg-right{
  background-position: right;
}
.bg-center{
  background-position: center;
}
.bg-left-top{
  background-position: left top;
}
.bg-no-repeat{
  background-repeat: no-repeat;
}
.object-contain{
  -o-object-fit: contain;
     object-fit: contain;
}
.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}
.object-bottom{
  -o-object-position: bottom;
     object-position: bottom;
}
.p-0{
  padding: 0px;
}
.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}
.pb-16{
  padding-bottom: 4rem;
}
.pt-5{
  padding-top: 1.25rem;
}
.pb-14{
  padding-bottom: 3.5rem;
}
.pt-1{
  padding-top: 0.25rem;
}
.pt-2px{
  padding-top: 2px;
}
.pt-2{
  padding-top: 0.5rem;
}
.pl-2px{
  padding-left: 2px;
}
.pl-2{
  padding-left: 0.5rem;
}
.pr-7{
  padding-right: 1.75rem;
}
.pb-24{
  padding-bottom: 6rem;
}
.pb-1{
  padding-bottom: 0.25rem;
}
.pb-2{
  padding-bottom: 0.5rem;
}
.pb-12{
  padding-bottom: 3rem;
}
.pt-px{
  padding-top: 1px;
}
.pb-20{
  padding-bottom: 5rem;
}
.pb-10{
  padding-bottom: 2.5rem;
}
.pt-4{
  padding-top: 1rem;
}
.pb-3{
  padding-bottom: 0.75rem;
}
.pl-4{
  padding-left: 1rem;
}
.pr-14{
  padding-right: 3.5rem;
}
.text-center{
  text-align: center;
}
.align-baseline{
  vertical-align: baseline;
}
.font-JetBrains{
  font-family: JetBrains Mono;
}
.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-5xl{
  font-size: 3rem;
  line-height: 1;
}
.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}
.font-medium{
  font-weight: 500;
}
.font-semibold{
  font-weight: 600;
}
.font-normal{
  font-weight: 400;
}
.font-thin{
  font-weight: 100;
}
.font-black{
  font-weight: 900;
}
.font-light{
  font-weight: 300;
}
.uppercase{
  text-transform: uppercase;
}
.normal-case{
  text-transform: none;
}
.leading-5{
  line-height: 1.25rem;
}
.text-green-800{
  --tw-text-opacity: 1;
  color: rgb(39 72 58 / var(--tw-text-opacity));
}
.text-amber-500{
  --tw-text-opacity: 1;
  color: rgb(116 86 51 / var(--tw-text-opacity));
}
.text-green-500{
  --tw-text-opacity: 1;
  color: rgb(66 138 105 / var(--tw-text-opacity));
}
.text-red-500{
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-amber-800{
  --tw-text-opacity: 1;
  color: rgb(217 123 13 / var(--tw-text-opacity));
}
.text-green-700{
  --tw-text-opacity: 1;
  color: rgb(44 89 70 / var(--tw-text-opacity));
}
.placeholder-amber-400::-moz-placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(163 120 72 / var(--tw-placeholder-opacity));
}
.placeholder-amber-400::placeholder{
  --tw-placeholder-opacity: 1;
  color: rgb(163 120 72 / var(--tw-placeholder-opacity));
}
.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-300{
  transition-duration: 300ms;
}
.duration-150{
  transition-duration: 150ms;
}
.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/**
  * Use this directive to control where Tailwind injects the responsive
  * variations of each utility.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */
.first\:mt-0:first-child{
  margin-top: 0px;
}
.hover\:scale-110:hover{
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.focus\:border-amber-500:focus{
  --tw-border-opacity: 1;
  border-color: rgb(116 86 51 / var(--tw-border-opacity));
}
.focus\:shadow-none:focus{
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}
@media (min-width: 640px){
  .sm\:relative{
    position: relative;
  }
  .sm\:top-0{
    top: 0px;
  }
  .sm\:bottom-0{
    bottom: 0px;
  }
  .sm\:right-auto{
    right: auto;
  }
  .sm\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }
  .sm\:ml-17{
    margin-left: 4.25rem;
  }
  .sm\:mt-0{
    margin-top: 0px;
  }
  .sm\:mt-6{
    margin-top: 1.5rem;
  }
  .sm\:mt-3{
    margin-top: 0.75rem;
  }
  .sm\:mt-5{
    margin-top: 1.25rem;
  }
  .sm\:mt-8{
    margin-top: 2rem;
  }
  .sm\:ml-6{
    margin-left: 1.5rem;
  }
  .sm\:-mt-2{
    margin-top: -0.5rem;
  }
  .sm\:mt-14{
    margin-top: 3.5rem;
  }
  .sm\:mt-4{
    margin-top: 1rem;
  }
  .sm\:mt-20{
    margin-top: 5rem;
  }
  .sm\:mt-2{
    margin-top: 0.5rem;
  }
  .sm\:ml-4{
    margin-left: 1rem;
  }
  .sm\:block{
    display: block;
  }
  .sm\:flex{
    display: flex;
  }
  .sm\:grid{
    display: grid;
  }
  .sm\:h-screen{
    height: 100vh;
  }
  .sm\:h-auto{
    height: auto;
  }
  .sm\:h-5{
    height: 1.25rem;
  }
  .sm\:min-h-screen{
    min-height: 100vh;
  }
  .sm\:w-1\/2{
    width: 50%;
  }
  .sm\:w-11\/12{
    width: 91.666667%;
  }
  .sm\:w-17{
    width: 4.25rem;
  }
  .sm\:w-5{
    width: 1.25rem;
  }
  .sm\:translate-y-0{
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .sm\:gap-6{
    gap: 1.5rem;
  }
  .sm\:gap-y-1{
    row-gap: 0.25rem;
  }
  .sm\:overflow-y-auto{
    overflow-y: auto;
  }
  .sm\:overflow-x-hidden{
    overflow-x: hidden;
  }
  .sm\:border-t{
    border-top-width: 1px;
  }
  .sm\:border-amber-500{
    --tw-border-opacity: 1;
    border-color: rgb(116 86 51 / var(--tw-border-opacity));
  }
  .sm\:bg-gray-500{
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
  }
  .sm\:bg-40\%{
    background-size: 40%;
  }
  .sm\:bg-contain{
    background-size: contain;
  }
  .sm\:bg-cover{
    background-size: cover;
  }
  .sm\:bg-right-custom-md{
    background-position: calc(100% - 4.25rem);
  }
  .sm\:object-center{
    -o-object-position: center;
       object-position: center;
  }
  .sm\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .sm\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .sm\:py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .sm\:px-14{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  .sm\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .sm\:pb-0{
    padding-bottom: 0px;
  }
  .sm\:pb-36{
    padding-bottom: 9rem;
  }
  .sm\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .sm\:text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }
  .sm\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .sm\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .sm\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
  .sm\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .sm\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .sm\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 768px){
  .md\:-mx-2{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .md\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }
  .md\:mt-0{
    margin-top: 0px;
  }
  .md\:-mt-3{
    margin-top: -0.75rem;
  }
  .md\:mt-5{
    margin-top: 1.25rem;
  }
  .md\:mt-7{
    margin-top: 1.75rem;
  }
  .md\:mt-3{
    margin-top: 0.75rem;
  }
  .md\:mt-6{
    margin-top: 1.5rem;
  }
  .md\:inline-block{
    display: inline-block;
  }
  .md\:flex{
    display: flex;
  }
  .md\:grid{
    display: grid;
  }
  .md\:h-60{
    height: 15rem;
  }
  .md\:h-auto{
    height: auto;
  }
  .md\:h-full{
    height: 100%;
  }
  .md\:w-5\/6{
    width: 83.333333%;
  }
  .md\:w-2\/3{
    width: 66.666667%;
  }
  .md\:w-auto{
    width: auto;
  }
  .md\:items-center{
    align-items: center;
  }
  .md\:gap-x-6{
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .md\:rounded-none{
    border-radius: 0px;
  }
  .md\:object-contain{
    -o-object-fit: contain;
       object-fit: contain;
  }
  .md\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .md\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .md\:py-14{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
  .md\:pb-20{
    padding-bottom: 5rem;
  }
  .md\:pb-18{
    padding-bottom: 4.5rem;
  }
  .md\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
  .md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .md\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 1024px){
  .lg\:ml-navbar-lg{
    margin-left: 280px;
  }
  .lg\:mt-11{
    margin-top: 2.75rem;
  }
  .lg\:mt-5{
    margin-top: 1.25rem;
  }
  .lg\:mt-6{
    margin-top: 1.5rem;
  }
  .lg\:mt-4{
    margin-top: 1rem;
  }
  .lg\:mt-3{
    margin-top: 0.75rem;
  }
  .lg\:block{
    display: block;
  }
  .lg\:inline-block{
    display: inline-block;
  }
  .lg\:hidden{
    display: none;
  }
  .lg\:h-4{
    height: 1rem;
  }
  .lg\:w-4\/5{
    width: 80%;
  }
  .lg\:w-7\/12{
    width: 58.333333%;
  }
  .lg\:w-navbar-lg{
    width: 280px;
  }
  .lg\:w-4{
    width: 1rem;
  }
  .lg\:gap-3{
    gap: 0.75rem;
  }
  .lg\:bg-right-custom-lg{
    background-position: calc(100% - 280px);
  }
  .lg\:px-18{
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
  .lg\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .lg\:px-2{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .lg\:pb-24{
    padding-bottom: 6rem;
  }
}
@media (min-width: 1280px){
  .xl\:absolute{
    position: absolute;
  }
  .xl\:left-1\/2{
    left: 50%;
  }
  .xl\:right-auto{
    right: auto;
  }
  .xl\:top-1\/2{
    top: 50%;
  }
  .xl\:col-span-4{
    grid-column: span 4 / span 4;
  }
  .xl\:col-span-3{
    grid-column: span 3 / span 3;
  }
  .xl\:col-span-5{
    grid-column: span 5 / span 5;
  }
  .xl\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }
  .xl\:ml-navbar{
    margin-left: 340px;
  }
  .xl\:mt-12{
    margin-top: 3rem;
  }
  .xl\:mt-11{
    margin-top: 2.75rem;
  }
  .xl\:mt-6{
    margin-top: 1.5rem;
  }
  .xl\:mt-14{
    margin-top: 3.5rem;
  }
  .xl\:mt-4{
    margin-top: 1rem;
  }
  .xl\:mt-8{
    margin-top: 2rem;
  }
  .xl\:block{
    display: block;
  }
  .xl\:hidden{
    display: none;
  }
  .xl\:h-80{
    height: 20rem;
  }
  .xl\:w-3\/5{
    width: 60%;
  }
  .xl\:w-1\/2{
    width: 50%;
  }
  .xl\:w-navbar{
    width: 340px;
  }
  .xl\:-translate-x-1\/2{
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .xl\:-translate-y-1\/2{
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .xl\:transform{
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .xl\:grid-cols-7{
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .xl\:grid-cols-12{
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .xl\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .xl\:gap-8{
    gap: 2rem;
  }
  .xl\:gap-6{
    gap: 1.5rem;
  }
  .xl\:bg-right-custom{
    background-position: calc(100% - 340px);
  }
  .xl\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .xl\:py-20{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .xl\:px-24{
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .xl\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .xl\:pb-32{
    padding-bottom: 8rem;
  }
  .xl\:pb-28{
    padding-bottom: 7rem;
  }
  .xl\:pb-0{
    padding-bottom: 0px;
  }
  .xl\:text-8xl{
    font-size: 6rem;
    line-height: 1;
  }
  .xl\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
  .xl\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 1536px){
  .\32xl\:w-2\/5{
    width: 40%;
  }
}
/**
  * Styles for support plugins.
  */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/**
  * Mixins.
  */
/**
  * Styles for support components.
  */
/**
  * Custom especific styles.
  */
.home-arrow{
  margin-top: -0.5rem;
  -webkit-animation: 1.3s arrowFade infinite;
          animation: 1.3s arrowFade infinite;
}

@-webkit-keyframes arrowFade {
  0%{
    margin-top: -0.5rem;
  }
  50%{
    margin-top: 0px;
  }
  60%{
    margin-top: 0.25rem;
    opacity: 1;
  }
  100%{
    margin-top: 0.5rem;
    opacity: 0;
  }
}

@keyframes arrowFade {
  0%{
    margin-top: -0.5rem;
  }
  50%{
    margin-top: 0px;
  }
  60%{
    margin-top: 0.25rem;
    opacity: 1;
  }
  100%{
    margin-top: 0.5rem;
    opacity: 0;
  }
}
.btn{
  cursor: pointer;
  border-radius: 0.25rem;
  text-align: center;
  font-family: JetBrains Mono;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.btn.disabled{
  pointer-events: none !important;
}
.btn:hover{
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.btn:focus,  .btn:active,  .btn:visited{
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.btn.btn-red {
  transition: all 0.5s;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-red:hover {
  transition: all 0.5s;
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-red.disabled{
  --tw-border-opacity: 1;
  border-color: rgb(254 202 202 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity));
  opacity: 0.5;
}
.btn.btn-white {
  transition: all 0.5s;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.btn.btn-white:hover {
  transition: all 0.5s;
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-white.disabled{
  --tw-border-opacity: 1;
  border-color: rgb(250 250 250 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(243 242 241 / var(--tw-text-opacity));
}
.btn.btn-green {
  transition: all 0.5s;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(39 72 58 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(39 72 58 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-green:hover {
  transition: all 0.5s;
  --tw-border-opacity: 1;
  border-color: rgb(51 110 84 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(51 110 84 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-green.disabled{
  --tw-border-opacity: 1;
  border-color: rgb(92 165 131 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(92 165 131 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(39 72 58 / var(--tw-text-opacity));
  opacity: 0.5;
}
.btn.btn-outline-red {
  transition: all 0.5s;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.btn.btn-outline-red:hover {
  transition: all 0.5s;
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-outline-red.disabled{
  --tw-border-opacity: 1;
  border-color: rgb(248 113 113 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(254 202 202 / var(--tw-text-opacity));
}
.btn.btn-outline-white-black {
  transition: all 0.5s;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-outline-white-black:hover {
  transition: all 0.5s;
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-outline-white-black.disabled{
  --tw-border-opacity: 1;
  border-color: rgb(245 245 245 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(243 242 241 / var(--tw-text-opacity));
}
.btn.btn-outline-white-red {
  transition: all 0.5s;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-outline-white-red:hover {
  transition: all 0.5s;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.btn.btn-outline-white-red.disabled{
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity));
}
.btn.btn-outline-black {
  transition: all 0.5s;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.btn.btn-outline-black:hover {
  transition: all 0.5s;
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-outline-black.disabled{
  --tw-border-opacity: 1;
  border-color: rgb(250 250 250 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(243 242 241 / var(--tw-text-opacity));
}
.btn.btn-outline-green {
  transition: all 0.5s;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(66 138 105 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(66 138 105 / var(--tw-text-opacity));
}
.btn.btn-outline-green:hover {
  transition: all 0.5s;
  --tw-border-opacity: 1;
  border-color: rgb(51 110 84 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(51 110 84 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-outline-green.disabled{
  --tw-border-opacity: 1;
  border-color: rgb(92 165 131 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(179 220 198 / var(--tw-text-opacity));
}
.btn.btn-outline-blue {
  transition: all 0.5s;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}
.btn.btn-outline-blue:hover {
  transition: all 0.5s;
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.btn.btn-outline-blue.disabled{
  --tw-border-opacity: 1;
  border-color: rgb(96 165 250 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(191 219 254 / var(--tw-text-opacity));
}

input:not(.btn){
  font-family: JetBrains Mono;
  font-weight: 300;
}

select{
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  resize: none;
}

.password-toggle-wrap{
  position: relative;
}

.password-toggle{
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 1;
  margin-right: 0.75rem;
  height: 66.666667%;
  width: auto;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(33 57 47 / var(--tw-text-opacity));
  opacity: 0.8;
}

a,  a:focus,  a:hover,  a:active,  a:visited{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.nabvar-link{
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(39 72 58 / var(--tw-text-opacity));
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 0;
}
@media (min-width: 640px) {
  .nabvar-link{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .nabvar-link:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(237 236 236 / var(--tw-bg-opacity));
  }
}
.nabvar-link div{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  padding: 0.5rem;
}
@media (min-width: 640px) {
  .nabvar-link div{
    padding: 0.75rem;
  }
}
@media (min-width: 1024px) {
  .nabvar-link div{
    padding: 0.5rem;
  }
}
.nabvar-link:not(.active) div{
  --tw-bg-opacity: 1;
  background-color: rgb(237 236 236 / var(--tw-bg-opacity));
}
.nabvar-link:not(.active) svg{
  --tw-text-opacity: 1;
  color: rgb(39 72 58 / var(--tw-text-opacity));
}
.nabvar-link.active{
  display: block;
}
@media (min-width: 1024px) {
  .nabvar-link.active{
    --tw-bg-opacity: 1;
    background-color: rgb(235 230 225 / var(--tw-bg-opacity));
  }
}
.nabvar-link.active div{
  --tw-bg-opacity: 1;
  background-color: rgb(39 72 58 / var(--tw-bg-opacity));
}
.nabvar-link.active svg{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 768px) {
  .nabvar-link:hover div{
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-inset: inset;
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(39 72 58 / var(--tw-ring-opacity));
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.stretched-link:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.stretched-link::after{
  pointer-events: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
}

.clipboard-copy.active .clipboard-defult{
  display: none;
}

.clipboard-success:not(.active), 
.clipboard-error:not(.active){
  display: none;
}

.map-mass iframe{
  width: 100%;
  height: 40vh;
}
@media (min-width: 1280px) {
  .map-mass iframe{
    width: 66.666667%;
  }
}

.map-party iframe{
  width: 100%;
  height: 40vh;
}
@media (min-width: 640px) {
  .map-party iframe {
    height: 60vh;
  }
}

.simplebar-scrollbar::before{
  --tw-bg-opacity: 1;
  background-color: rgb(39 72 58 / var(--tw-bg-opacity));
}

.simplebar-vertical .simplebar-scrollbar::before{
  width: 0.25rem !important;
}

@media (min-width: 1024px) {
  .simplebar-custom-vertical .simplebar-content-wrapper{
    padding-right: 0.75rem;
  }
}
.simplebar-custom-vertical .simplebar-vertical{
  margin-right: -0.25rem;
}

.simplebar-horizontal .simplebar-scrollbar::before{
  height: 0.25rem !important;
}

.simplebar-custom-horizontal .simplebar-wrapper, 
.simplebar-custom-horizontal .simplebar-content-wrapper{
  padding-bottom: 0.125rem !important;
}
@media (min-width: 640px) {
  .simplebar-custom-horizontal .simplebar-wrapper, 
.simplebar-custom-horizontal .simplebar-content-wrapper{
    padding-bottom: 0px !important;
  }
}

.simplebar-custom-horizontal .simplebar-horizontal{
  margin-bottom: -0.25rem;
}

.home-dotted {
  height: calc(50vh - 280px);
}
@media (min-width: 640px) {
  .home-dotted {
    height: calc(50vh - 260px);
  }
}

.section-overflow {
  min-height: 600px;
}

.navbar-title small {
  vertical-align: -10px;
}
.navbar-title span {
  vertical-align: -30px;
}

.simplebar-content{
  display: flex;
  align-items: center;
}
@media (min-width: 640px) {
  .simplebar-content{
    display: block;
  }
}

.slick-slide{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

.slick-dots{
  position: absolute;
  bottom: 0px;
  margin-bottom: -2.5rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
.slick-dots li button {
  font-size: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(39 72 58 / var(--tw-bg-opacity));
}
.slick-dots li button:focus,  .slick-dots li button:active{
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.slick-dots li:not(.slick-active) button{
  opacity: 0.4;
}

[class^=slider-],
[class*=" slider-"] {
  transition: opacity 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 1280px) {
  [class^=slider-], 
[class*=" slider-"]{
    visibility: visible;
    opacity: 1;
  }
}
[class^=slider-].slick-initialized, 
[class*=" slider-"].slick-initialized{
  visibility: visible;
  opacity: 1;
}

.slider-home .slick-slide{
  width: 20rem;
}
@media (min-width: 768px) {
  .slider-home .slick-slide{
    width: auto;
  }
}

/*# sourceMappingURL=app.css.map*/